aiofiles
aiohttp
aiosignal
altair
annotated-types
antlr4-python3-runtime
anyio
appnope
asttokens
async-timeout
attrs
backcall
backoff
bcrypt
beautifulsoup4
black
blinker
blis>=0.7.8,<0.8.0
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
confection
contourpy
cryptography
cycler
cymem
dataclasses-json
debugpy
decorator
dill
dnspython
duckduckgo-search
EbookLib
effdet
elastic-transport
elasticsearch
email-validator
emoji == 2.10.1
et-xmlfile
executing
faiss-cpu
fastapi
ffmpeg
ffmpeg-python
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
future
gitdb
GitPython
gpt4all
greenlet
h11
h2
hpack
html2text
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib-metadata
importlib-resources
iopath
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langcodes
langsmith
layoutparser
loguru
lxml==5.1.0
manifest-ml
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.20.2
matplotlib
matplotlib-inline
mdurl
monotonic
mpmath
msg-parser
multidict
murmurhash
mypy-extensions
nest-asyncio
networkx
nltk
numexpr
numpy
olefile
omegaconf
onnx
onnxruntime<1.16
openai
opencv-python
openpyxl
orjson
overrides
packaging>=16.8,<24
pandas
parso
pathspec
pathy
pdf2image
pdfminer.six
pdfplumber
pexpect
pickleshare
Pillow
pinecone-client
platformdirs
playwright
portalocker
posthog
preshed
prompt-toolkit
protobuf>=3.20,<5
psutil
ptyprocess
pulsar-client
pure-eval
pyarrow
pycocotools
pycparser
pydantic>=1.9.0,<2.0
pydantic_core
pydeck
pydub
pyee==11.0.1
Pygments
Pympler
pypandoc
pyparsing
pypdf
pypdfium2
PyPika
pytesseract
python-dateutil==2.8.2
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-pptx
pytube
pytz
pytz-deprecation-shim
PyYAML
pyzmq
rapidfuzz==3.6.1
redis
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open>=5.2.1,<7.0.0
smmap
sniffio
socksio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlitedict
srsly
stack-data
starlette>=0.36.3,<0.37.0
streamlit
sympy
tabulate
tenacity
thinc
threadpoolctl
tiktoken
timm
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typer>=0.3.0,<0.10.0
typing-inspect
typing_extensions==4.9.0
tzdata
tzlocal
ujson
unstructured
unstructured-inference
unstructured.pytesseract
urllib3==1.26.18
uvicorn
validators
wasabi
watchdog
watchfiles
wcwidth
websockets
wikipedia
xlrd
XlsxWriter
yarl
zipp