aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.1.0
build==1.2.1
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
dataclasses-json==0.6.4
dataclasses-json-speakeasy==0.5.11
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
emoji==2.10.1
executing==2.0.1
faiss-cpu==1.8.0
fastapi==0.110.0
fastjsonschema==2.19.1
filelock==3.13.3
filetype==1.2.0
flatbuffers==24.3.25
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
google-auth==2.29.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
idna==3.6
importlib-metadata==7.0.0
importlib_resources==6.4.0
ipykernel==6.29.3
ipython==8.22.2
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.24
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
kubernetes==29.0.0
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.31
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest-asyncio==1.6.0
nltk==3.8.1
notebook==7.1.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.14.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.9.0
platformdirs==4.2.0
posthog==3.5.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.4.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
PyPika==0.48.9
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.2.7
python-json-logger==2.0.7
python-magic==0.4.27
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.6.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
Send2Trash==1.8.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
stack-data==0.6.3
starlette==0.36.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.1
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.15.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
typer==0.12.0
typer-cli==0.12.0
typer-slim==0.12.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
unstructured==0.12.6
unstructured-client==0.18.0
uri-template==1.3.0
urllib3==1.26.18
uvicorn==0.29.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
widgetsnbextension==4.0.10
wrapt==1.16.0
yarl==1.9.4
zipp==3.18.1


python = "^3.11,<3.13"
aiofiles = "23.2.1"
aiohttp = "3.8.5"
aiosignal = "1.3.1"
altair = "5.1.1"
annotated-types = "0.5.0"
antlr4-python3-runtime = "4.9.3"
anyio = "3.7.1"
appnope = "0.1.3"
asttokens = "2.4.0"
async-timeout = "4.0.3"
attrs = "23.1.0"
backcall = "0.2.0"
backoff = "2.2.1"
bcrypt = "4.0.1"
beautifulsoup4 = "4.12.2"
black = "23.9.1"
blinker = "1.6.2"
blis = "0.7.10"
brotli = "1.1.0"
cachetools = "5.3.1"
catalogue = "2.0.9"
certifi = "2023.7.22"
cffi = "1.15.1"
chardet = "5.2.0"
charset-normalizer = "3.2.0"
chroma-hnswlib = "0.7.3"
chromadb = "0.4.11"
click = "8.1.7"
coloredlogs = "15.0.1"
comm = "0.1.4"
confection = "0.1.3"
contourpy = "1.1.1"
cryptography = "41.0.4"
cycler = "0.11.0"
cymem = "2.0.8"
dataclasses-json = "0.5.14"
debugpy = "1.8.0"
decorator = "5.1.1"
dill = "0.3.7"
dnspython = "2.4.2"
duckduckgo-search = "3.8.5"
ebooklib = "0.18"
effdet = "0.4.1"
elastic-transport = "8.4.0"
elasticsearch = "8.9.0"
email-validator = "2.0.0.post2"
emoji = "2.8.0"
et-xmlfile = "1.1.0"
executing = "1.2.0"
faiss-cpu = "1.7.4"
fastapi = "0.99.1"
ffmpeg = "1.4"
ffmpeg-python = "0.2.0"
filelock = "3.12.4"
filetype = "1.2.0"
flatbuffers = "23.5.26"
fonttools = "4.42.1"
frozenlist = "1.4.0"
fsspec = "2023.9.1"
future = "0.18.3"
gitdb = "4.0.10"
gitpython = "3.1.35"
gpt4all = "2.0.2"
greenlet = "3.0.0"
h11 = "0.14.0"
h2 = "4.1.0"
hpack = "4.0.0"
html2text = "2020.1.16"
httpcore = "0.18.0"
httptools = "0.6.0"
httpx = "0.25.0"
huggingface-hub = "0.16.4"
humanfriendly = "10.0"
hyperframe = "6.0.1"
idna = "3.4"
importlib-metadata = "6.8.0"
importlib-resources = "6.0.1"
iopath = "0.1.10"
ipykernel = "6.25.2"
ipython = "8.15.0"
itsdangerous = "2.1.2"
jedi = "0.19.0"
jinja2 = "3.1.2"
joblib = "1.3.2"
jsonpatch = "1.33"
jsonpointer = "2.4"
jsonschema = "4.19.0"
jsonschema-specifications = "2023.7.1"
jupyter-client = "8.3.1"
jupyter-core = "5.3.1"
kiwisolver = "1.4.5"
langchain = "0.0.332"
langcodes = "3.3.0"
langsmith = "0.0.52"
layoutparser = "0.3.4"
loguru = "0.7.2"
lxml = "4.9.3"
manifest-ml = "0.0.1"
markdown = "3.4.4"
markdown-it-py = "3.0.0"
markupsafe = "2.1.3"
marshmallow = "3.20.1"
matplotlib = "3.8.0"
matplotlib-inline = "0.1.6"
mdurl = "0.1.2"
monotonic = "1.6"
mpmath = "1.3.0"
msg-parser = "1.2.0"
multidict = "6.0.4"
murmurhash = "1.0.10"
mypy-extensions = "1.0.0"
nest-asyncio = "1.5.8"
networkx = "3.1"
nltk = "3.8.1"
numexpr = "2.8.5"
numpy = "1.26"
olefile = "0.46"
omegaconf = "2.3.0"
onnx = "1.14.1"
onnxruntime = "1.16.0"
openai = "0.28.0"
opencv-python = "4.8.0.76"
openpyxl = "3.1.2"
orjson = "3.9.9"
overrides = "7.4.0"
packaging = "23.1"
pandas = "2.1.0"
parso = "0.8.3"
pathspec = "0.11.2"
pathy = "0.10.2"
pdf2image = "1.16.3"
pdfminer-six = "20221105"
pdfplumber = "0.10.2"
pexpect = "4.8.0"
pickleshare = "0.7.5"
pillow = "9.5.0"
pinecone-client = "2.2.4"
platformdirs = "3.10.0"
playwright = "1.39.0"
portalocker = "2.8.2"
posthog = "3.0.2"
preshed = "3.0.9"
prompt-toolkit = "3.0.39"
protobuf = "4.24.3"
psutil = "5.9.5"
ptyprocess = "0.7.0"
pulsar-client = "3.3.0"
pure-eval = "0.2.2"
pyarrow = "13.0.0"
pycocotools = "2.0.7"
pycparser = "2.21"
pydantic = "1.10.12"
pydantic-core = "2.6.3"
pydeck = "0.8.0"
pydub = "0.25.1"
pyee = "11.0.1"
pygments = "2.16.1"
pympler = "1.0.1"
pypandoc = "1.11"
pyparsing = "3.1.1"
pypdf = "3.16.2"
pypdfium2 = "4.20.0"
pypika = "0.48.9"
pytesseract = "0.3.10"
python-dateutil = "2.8.2"
python-docx = "0.8.11"
python-dotenv = "1.0.0"
python-iso639 = "2023.6.15"
python-magic = "0.4.27"
python-multipart = "0.0.6"
python-pptx = "0.6.21"
pytube = "11.0.2"
pytz = "2023.3.post1"
pytz-deprecation-shim = "0.1.0.post0"
pyyaml = "6.0.1"
pyzmq = "25.1.1"
rapidfuzz = "3.3.1"
redis = "5.0.0"
referencing = "0.30.2"
regex = "2023.8.8"
requests = "2.31.0"
rich = "13.5.2"
rpds-py = "0.10.2"
safetensors = "0.3.3"
scikit-learn = "1.3.1"
scipy = "1.11.3"
sentence-transformers = "2.2.2"
sentencepiece = "0.1.99"
six = "1.16.0"
smart-open = "6.4.0"
smmap = "5.0.0"
sniffio = "1.3.0"
socksio = "1.0.0"
soupsieve = "2.5"
spacy = "3.6.1"
spacy-legacy = "3.0.12"
spacy-loggers = "1.0.5"
sqlalchemy = "2.0.22"
sqlitedict = "2.1.0"
srsly = "2.4.7"
stack-data = "0.6.2"
starlette = "0.27.0"
streamlit = "1.27.2"
sympy = "1.12"
tabulate = "0.9.0"
tenacity = "8.2.3"
thinc = "8.1.12"
threadpoolctl = "3.2.0"
tiktoken = "0.5.1"
timm = "0.9.7"
tokenizers = "0.14.0"
toml = "0.10.2"
toolz = "0.12.0"
torch = "2.0.1"
torchvision = "0.15.2"
tornado = "6.3.3"
tqdm = "4.66.1"
traitlets = "5.10.0"
transformers = "4.34.0"
typer = "0.9.0"
typing-inspect = "0.9.0"
typing-extensions = "4.7.1"
tzdata = "2023.3"
tzlocal = "4.3.1"
ujson = "5.8.0"
unstructured = "0.10.16"
unstructured-inference = "0.6.6"
unstructured-pytesseract = "0.3.12"
urllib3 = "1.26.16"
uvicorn = "0.23.2"
validators = "0.22.0"
wasabi = "1.1.2"
watchdog = "3.0.0"
watchfiles = "0.20.0"
wcwidth = "0.2.6"
websockets = "11.0.3"
wikipedia = "1.4.0"
xlrd = "2.0.1"
xlsxwriter = "3.1.5"
yarl = "1.9.2"
zipp = "3.16.2"